body {
  display: grid;
  font: 20px/1.6 Arial, sans-serif;
  grid-template-columns: minmax(auto, 60ch);
  grid-template-rows: auto 1fr;
  justify-content: center;
  line-height: 1.4;
  min-height: 100vh;
  padding: 1rem 0.25rem;
}

h1 {
  font: 600 30px/1.2 Arial, sans-serif;
  margin: 35px 0 -5px 0;
}

h2 {
  font: 600 24px/1.2 Arial, sans-serif;
  margin: 35px 0 -5px 0;
}

h3 {
  color: #333;
  font: italic 400 18px Arial, sans-serif;
}

h4 {
  font: 400 20px Arial, sans-serif;
}

h5 {
  color: #222;
  font: 400 18px Arial, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  margin: 10px 0;
}

li {
  margin: 5px 0;
}

a {
  color: #337AB7;
  text-decoration: none;
}

a:hover {
  color: #265b89;
  text-decoration: underline;
}

sup {
  color: #337AB7;
}

img {
  max-height: 500px;
  margin: 0;
  padding: 0;
}

.photo {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0;
}

hr {
  background-color: #AAA;
  border: none; 
  height: 1px;
}

header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

header h1 {
  color: #000;
  font: 400 2rem Arial, sans-serif;
  margin: 10px 0 0 ;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  margin: 0;
}
nav ul li a {
  padding: 0.5rem;
}

footer {
  display: flex;
  font-size: 14px;
  justify-content: center;
  margin-top: 30px;
}

.posts {
  list-style: none;
  margin-top: 20px;
  padding: 0; 
}

.posts li {
  margin: 5px 0;
}

@media (prefers-color-scheme: dark) {
  body, h1, h2, h3, header h1 {
      color: #EEE;
  }

  body {
    background-color: #111;
  }

  a, nav ul li a { 
    color: #00ACED;
  }

  a:hover, nav ul li a:hover {
    color: #32c7ff;
  }
}
